.cartInput {
    display: flex;
    height: 8vmax;
    align-items: center;
    gap: 0.7rem;
}

.cartInput > button {
    border: none;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}

.cartInput > button:hover {
    background-color: rgba(0, 0, 0, 0.767);
}

.cartInput > input {
    border: none;
    padding: 0.5vmax;
    width: 3vmax;
    height: 2.8vmax;
    align-content: center;
    padding: 5px 5px;
    outline: none;
    align-items: center;
    font: 400 1.1vmax "Poppins";
    color: rgb(255, 255, 255);
}